# Final Project Notebook

## Introduction  
This notebook demonstrates basic skills in Markdown and Python. It covers examples of data science languages, libraries, tools, and arithmetic operations.

## Data Science Languages  
- Python  
- R  
- SQL

## Data Science Libraries  
- NumPy  
- Pandas  
- TensorFlow  
- Matplotlib

## Data Science Tools  

| Tool            | Description                     |  
|-----------------|---------------------------------|  
| Jupyter Notebook| Interactive environment for coding and visualizations. |  
| RStudio         | IDE for R programming.          |  
| Apache Spark    | Cluster computing for big data. |

## Arithmetic Expression Examples  
Below are examples of basic arithmetic operations like addition and multiplication.

In [1]:
# Multiplying and adding numbers
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [2]:
# Converting minutes to hours
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours")

200 minutes is equal to 3.33 hours

## Objectives  
- Learn Markdown formatting.  
- Explore Python code examples.  
- Understand the tools and libraries used in Data Science.

## Author  
Preeti Lakshmi Narayan